{% extends 'restaurant/base.html' %}

{% block content %}

<h2>Recipe Requirements</h2>
<a href="{% url 'reciperequirementcreate' %}">Add Ingredient</a>

<table>
    <tr>
        <th>Menu Item</th>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>  </th>
        <th>  </th>
    </tr>

    {% for recipe in reciperequirement_list %}
    <tr>
        <td>{{ recipe.menuitem }}</td>
        <td>{{ recipe.ingredient }}</td>
        <td>{{ recipe.quantity }}</td>
        <td><a href="{% url 'reciperequirementupdate' recipe.id%}">Edit</a></td>
        <td><a href="{% url 'reciperequirementdelete' recipe.id%}">Delete</a></td>
    </tr>

    {% endfor %}

</table>

{% endblock %}